.titleOverlay {
    position: absolute;
    text-align: center;
    width: 50%;
    top: 30%;
    left: 25%;
    margin: 0 auto;
    color: seashell;
}


.Amatic { 
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
}

.borderBottom {
    border-bottom: 1px solid black;
}

.borderBottomW {
    border-bottom: 2px solid white;
}