@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Dongle');
body {
  font-family: 'Josefin Sans', cursive !important;
}

.Dongle {
  font-family: 'Dongle', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

#about, #contact {
  scroll-margin-top: 50px;
}

.textAlignJustify {
  text-align: justify;
}
.borderBottom {
  border-bottom: 2px solid black;
}

@media screen and (min-width: 320px) and (max-width: 768px){
   #about {
      scroll-margin-top: 230px !important;
   }
  }
